.no-padding  > [class*='col-']{ 
	padding-right:0;
	padding-left:0;
}

#QsePasse {
	float:left;
	color:#00a8ec;
	background-color:white;
	padding-top: 7px;
	padding-left: 10px;
	padding-right: 10px;
	min-height:50px;
	margin-top:-30px;
	
}
#paragraphe {
	float:left;	
	color:white;
	background-color:#00a8ec;
	padding-left: 120px;
	padding-right:100px;
	padding-bottom:50px;
	opacity:0.8;
	position:relative;
	bottom:-30px;
	width:100%;
	min-height:400px;
}

.bgCol1 {
	background-image:url('../image/voiture.png');
	background-size:cover;
	
}
.bgCol2 {
	background-color:#212121;
}
.bgCol3 {
	background-color: black;

}
.row1 {
	min-height:95vh;

}
.row2 {
	min-height:5vh;
}
#MotFooter {
	color:white;
	padding-top: 1px;
}
.logo {
	padding-top:170px;	
	padding-bottom:150px;
	position:relative;
}
.contact {
	
	float:right;
	margin-top:-200px;
}
#EntronsEnContact {
	color:#00a8ec;	
}
#Message {
	color:white;
	font-size:15px;
	margin-top:-30px;
	padding-left:3px;
}
#H24 {
	color:white;
	background-color: #00a8ec;
	width:50px;	
	padding-top:5px;
	padding-bottom:5px;	
	float:left;
	margin-left:-5px;
	text-align: center;
	margin-top:-13px;
}	
#ptitMot {
	background-color: #70d3f8;
	color:white;
	padding-left:10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right:5px;	
	min-height:35px;
	font-size:13px;
	max-width:440px;
}
#text {
	
	margin-top:3px;
	max-width:440px;
	height:40px;
	background-color:#303030;
	color:white;
	font-size:15px;
	border:none;
	border-left:4px solid #8dcff4;
		
}
#textarea {
		
		margin-top:3px;
		max-width:440px;
		height:200px;
		background-color:#303030;
		color:white;
		font-size:15px;
		resize:none;
		border:none;
		border-left:4px solid #8dcff4;
		
	}
	#checkbox1 {
		float:left;
		
	}
	#checkp {
		float:left;
		margin-top:-20px;
		margin-left:20px;
		color:white;

	}
	
	#bparti {
		float:right;
		margin-top:20px;
		padding-bottom: 20px;		
	}
	#titre {	
		padding-top:50px;
		padding-bottom:30px;
	}
	#espaceForm {
		padding-left:50px;
		padding-right:50px;
	}
	#formulaire {
		float:left;
		margin-top:-40px;
		max-width:400px;
	}